@{
    var searchTerm = "test";
    searchTerm = ViewBag.searchTerm;
}

<div id="partial">
    @Html.Partial("ShowPartial", searchTerm)
</div>
<div>
    <button id="load">Load</button>
</div>

<script src="../Scripts/load-temp-data.js">
   
</script>